# Copyright (c) 2021 Yonatan Schachter
# SPDX-License-Identifier: Apache-2.0

if BOARD_UNI4

config BOARD
	default "uni4"

config RP2_FLASH_W25Q080
	default y

source "$srctree/../app/steno/Kconfig"

endif # BOARD_UNI4
