CONFIG_SOC_SERIES_RP2XXX=y
CONFIG_SOC_RP2040=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=125000000
CONFIG_SERIAL=n
CONFIG_CONSOLE=n
CONFIG_UART_CONSOLE=n
CONFIG_GPIO=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_UART_INTERRUPT_DRIVEN=n
CONFIG_ZMK_USB=y

CONFIG_ZMK_EMBEDDED_STENO=n
CONFIG_ZMK_BLE_KEYBOARD_REPORT_QUEUE_SIZE=256
CONFIG_ZMK_EMBEDDED_STENO_ENABLE_UI=n
CONFIG_ZMK_EMBEDDED_STENO_DICTEDIT=n
CONFIG_ZMK_EMBEDDED_STENO_KEY_INTERVAL=3
CONFIG_ZMK_EMBEDDED_STENO_NOUNICODE=y
CONFIG_ZMK_EMBEDDED_STENO_LOG_BACKEND_CONSOLE=n
CONFIG_ZMK_EMBEDDED_STENO_DEBUG_HIST=n
