#include "fissure.dts"

/ {
    chosen {
        zmk,led-widgets-dev = &leds;
    };

    leds: leds {
        compatible = "pwm-leds";
        label = "leds";
        red_led: led_0 {
            pwms = <&pwm0 19>;
            label = "Red LED";
        };
        green_led: led_1 {
            pwms = <&pwm0 7>;
            label = "Green LED";
        };
        blue_led: led_2 {
            pwms = <&pwm0 36>;
            label = "Blue LED";
        };
    };
};
