# SPDX-License-Identifier: MIT
CONFIG_ZMK_SPLIT=y
CONFIG_ZMK_SPLIT_BLE_ROLE_CENTRAL=y

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y

# Enable MPU
CONFIG_ARM_MPU=y

CONFIG_GPIO=y
CONFIG_LED=y
CONFIG_PWM=y
CONFIG_LED_PWM=y

CONFIG_USE_DT_CODE_PARTITION=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_NORDIC_QSPI_NOR=y

CONFIG_ZMK_DISPLAY=n

CONFIG_ZMK_USB_LOGGING=n
CONFIG_ZMK_LOG_LEVEL=3
# CONFIG_LOG=y
# CONFIG_CONSOLE=y
# CONFIG_USE_SEGGER_RTT=y
# CONFIG_RTT_CONSOLE=y
# CONFIG_USB_UART_CONSOLE=n
# CONFIG_UART_CONSOLE=n

CONFIG_ZMK_EMBEDDED_STENO=y
CONFIG_ZMK_EMBEDDED_STENO_KEY_INTERVAL=3
CONFIG_ZMK_EMBEDDED_STENO_ENABLE_UI=y
CONFIG_ZMK_EMBEDDED_UI_SCREEN_SMALL_OLED=y
CONFIG_ZMK_EMBEDDED_STENO_NOUNICODE=y
CONFIG_ZMK_EMBEDDED_STENO_LOG_BACKEND_CONSOLE=n
CONFIG_ZMK_EMBEDDED_STENO_DEBUG_HIST=n
CONFIG_ZMK_EMBEDDED_STENO_DICTEDIT=n

CONFIG_ZMK_BLE_KEYBOARD_REPORT_QUEUE_SIZE=256

CONFIG_LOG_STRDUP_BUF_COUNT=32
CONFIG_ZMK_IDLE_TIMEOUT=10000
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=600000
CONFIG_ZMK_LED_WIDGETS=y
