# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_MUSK=y

# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_LED=y
CONFIG_PWM=y
CONFIG_LED_PWM=y

CONFIG_USE_DT_CODE_PARTITION=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_SPI=y
# CONFIG_SPI_NOR=y

CONFIG_ZMK_COMBO_MAX_COMBOS_PER_KEY=8
CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=2
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=4

# CONFIG_ZMK_EMBEDDED_STENO=y
# CONFIG_ZMK_BLE_KEYBOARD_REPORT_QUEUE_SIZE=256
# CONFIG_ZMK_EMBEDDED_STENO_DISP_INVERT=y
# CONFIG_ZMK_EMBEDDED_STENO_FONT_ADASCII_8=y
# CONFIG_ZMK_EMBEDDED_STENO_KEY_INTERVAL=3
# CONFIG_ZMK_EMBEDDED_STENO_NOUNICODE=y
# CONFIG_ZMK_EMBEDDED_STENO_LOG_BACKEND_CONSOLE=n
# CONFIG_ZMK_EMBEDDED_STENO_DEBUG_HIST=n

CONFIG_ZMK_MOUSE=n
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=420000
CONFIG_ZMK_LED_WIDGETS=y

# CONFIG_BT_PERIPHERAL_PREF_MIN_INT=6
# CONFIG_BT_PERIPHERAL_PREF_MAX_INT=12

CONFIG_SENSOR_INIT_PRIORITY=80
CONFIG_PMW3610=y

CONFIG_CLOCK_CONTROL_NRF_K32SRC_SYNTH=y

CONFIG_LOG=y
CONFIG_DEBUG=y
CONFIG_CONSOLE=y
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y
CONFIG_SENSOR_LOG_LEVEL_DBG=y
CONFIG_PMW3610_LOG_LEVEL_DBG=y
CONFIG_ZMK_LOG_LEVEL_INF=y
CONFIG_LVGL_LOG_LEVEL_WRN=y
CONFIG_ZMK_USB_LOGGING=n
CONFIG_LOG_BUFFER_SIZE=8192
CONFIG_SEGGER_RTT_BUFFER_SIZE_UP=8192
CONFIG_ASSERT=y
CONFIG_LOG_PROCESS_THREAD_SLEEP_MS=100
CONFIG_ZMK_BLE_THREAD_STACK_SIZE=4096
CONFIG_LOG_PROCESS_THREAD_STACK_SIZE=4096
CONFIG_ZMK_BLE_SPLIT_CENTRAL_SPLIT_RUN_STACK_SIZE=4096
CONFIG_HW_STACK_PROTECTION=y
CONFIG_MAIN_STACK_SIZE=4096
